.icon-shopping {
  background: url('assets/images/shopping-bag.svg') no-repeat;
  width: 32px;
  height: 32px;
  display: block;
}

.icon-add {
  //background: url('assets/images/shopping-cart.svg') no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  fill: $primary-color;
}
