.page-header {
  background: $primary-color;
  padding: 20px 0;
  box-shadow: 0 7px 22px -10px black;
  width: 100%;
  position: fixed;
  z-index: 2;
  .logo {
    float: left;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 50px;
  }
  .wrap-icon-shopping {
    padding: 7px;
    float: right;
    border: solid 1px;
    border-radius: 50%;
    position: relative;
    .count-product {
      width: 20px;
      height: 20px;
      position: absolute;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      background: red;
      color: white;
      text-align: center;
      font-size: 10px;
      line-height: 20px;
      border-radius: 50%;
    }
  }
}
